*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#home{
    height: 100vh;
    width: 100%;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center;
}
#home nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
}
header{
    background:rgb(231,232,227,.95);
    background-position: center;
    background-size: cover;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav li{
    display: inline-block;
    padding-right: 40px;

}
nav a,.btn2{
    text-decoration: none;
    color: rgb(0,0,0,75%);
    font-weight: bold;
    font-size: 18px;
    transition: 0.1s;

}
nav li a:hover{
    color: rgb(249,0,77,90%);
    border-bottom: 2px solid #f9004d;
}
.btn{
    background-color:#f9004d;
    color:rgba(255,255,255,88%);
    border: 2px solid transparent;
    font-size: 17px;
    padding: 6px 18px;
    border-radius: 30px;
    transition: 0.4s;
}
.btn2{
    background:#b71c1c ;
    color:rgba(255,255,255,88%);
    border: 2px solid transparent;
    font-size: 17px;
    padding: 6px 18px;
    border-radius: 10px;
    position: absolute;
    top:62%;
    margin-left: 150px;
    transition: 0.4s;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 6px 6px -6px black;
}
.btn:hover,.btn2:hover{
    transform: scale(1.1);
}
nav h1{
    font-size: 35px;
}
#lio{
    color: #f9004d;
}
#my_name{
    position: absolute;
    margin-left: 150px;
    top: 35%;
}
#my_name h1{
    font-size: 55px;
}
#my_name h2{
    font-size: 45px;
}
#angel{
    color: #b71c1c;
}
#about_me{
    height: 100vh;
    background: #f5ece7;

}
#tabla{
    height: 70vh;
    width: 70%;
    background: #e6dace;
    position: relative;
    left: 15%;
    top: 15vh;
    border-radius: 30px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 6px 25px -5px black;
}
#div1{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}
#about_me img{
    width: 280px;
    height: 280px;
}
#about_me-txt{
    width: 60%;
    text-align: justify;
}
#about_me-txt h1{
    color: #f9004d;
}
#about_me-txt p{
    font-size: 18px;
    line-height: 1.4;
    color: rgb(0,0,0,75%);
}
#social{
    display: inline-block;
    float: right;
    padding-right: 135px;
    padding-top: 15px;
}
#social a img,#social2 a img{
    width: 35px;
    height: 25px;
    padding-right: 10px;
}
#education{
    height: 100vh;
    background:url("img/education_bg.jpg");
    background-position: center;
    background-size: cover;
}
#education h1,#skill h1{
    position: relative;
    top:100px;
    width: 1115px;
    left:200px;
    font-size: 45px;
    text-align: center;
    color:rgba(255,255,255,88%);
    border-bottom: 6px dotted;
    font-family: Goudy Old Style;
    font-style: italic;
    padding-bottom: 15px;
}
#schools{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 200px;
    padding-right: 200px;
    top:200px;
}
#sredno,#fakultet{

    height: 250px;
    width: 500px;
    background: #e3f5ff;
    border-radius:25px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 6px 12px -5px black;
    display: flex;
    justify-content: space-between;
}
#schools div img{
    width: 120px;
    height: 130px;
    position: relative;
    top:50px;
}
#sredno div,#fakultet div{
    padding-top: 25px;
    padding-left: 5px;
    line-height: 1.4;
    padding-right: 5px;
    color: rgb(0,0,0,70%);
}
#sredno:hover,#fakultet:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
#skill{
    height: 100vh;
    background: url("img/my-skills_bg.jpg");
    background-position: center;
    background-size: cover;
}
#chart{
    width: 600px;
    height: 400px;
    border-radius: 25px;
    background-image: url("img/skill.png");
    background-size: cover;
    background-position: center;
    position: relative;
    top: 150px;
    left: 450px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 6px 12px -5px black;
}
#charts{
    position: relative;
    top: 60px;
    left: 55px;
}
.linija{
    height: 50px;
    width: 500px;
    background: #d6e3f3;
    border-radius: 40px;
    margin-bottom: 30px;
}
.procent{
    position: relative;
    height: 100%;
    background: #00b3e5;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    text-align: center;
    color:rgba(255,255,255,80%);
    padding-top:10px;

}
#css{
    width: 90%;
}
#opp{
    width: 85%;
}
#c{
    width: 70%;
}
#photoshop{
    width: 75%;
}
#chart:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
#contact{
    height: 100vh;
    background:#e8f4ea;
    background-size: cover;
    background-position:center;
}
#tabla2{
    height: 70vh;
    width: 64%;
    background: #e6dace;
    position: relative;
    left: 18%;
    top: 15vh;
    border-radius: 30px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 6px 25px -5px black;
    display: flex;
    justify-content: space-between;
}
#info{
    position: relative;
    height: 100%;
    width: 50%;
    background: white;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
#input{
    position: relative;
    height: 100%;
    width: 50%;
    background: #00bb9e;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;

}
#input h1{
    position: relative;
    color:rgba(255,255,255,85%);
    left: 10%;
    top:15px;
}

.in{
    position: relative;
    display: block;
    width:80%;
    height: 45px;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    left: 10%;
    margin-top: 30px;
    font-size: 18px;
    border:3px solid white;
    background: rgba(255,255,255,85%);
    color: rgb(0,0,0,75%);
    text-align: center;
}
#message{
    height: 100px;
    border-radius: 25px;
}
#submit{
    position: relative;
    top: 20px;
    left: 10%;
    background: white;
    color: #00bb9e;
    border: 3px solid #d9f5f1;
}

#info ul li{

   display: flex;

    margin-top: 20px;
    list-style: none;
    color: rgb(0,0,0,80%);
}
#info ul{
    position: relative;
    top: 15px;
    left:35px;
}
#info ul li p{
   margin-left: 10px;
    margin-top: 5px;
}
.cont{
    width: 30px;
    height: 30px;
}
#info h2{
    position: relative;
    left: 8%;
    top: 80px;
    color: rgb(0,0,0,80%);
    font-family: Goudy Old Style;
}
#social2{
    position: relative;
    left: 8%;
    top: 100px;
}
footer{
    height: 70px;
    background: #232323;

}
footer p{
    text-align: center;
    padding-top: 25px;
    color: rgba(255,255,255,85%);
}
